---
layout: archive
title: "Books, Software & Patents"
description: "GeoGebra en el Aula. Libro de GeoGebra. Curso de GeoGebra. Sofware TINTOlib to transform tabular data into synthetic images"
permalink: /software/
author_profile: true
---

{% include base_path %}

{% assign books = site.portfolio | where: "category", "Books" %}
{% assign software = site.portfolio | where: "category", "Software" %}
{% assign patents = site.portfolio | where: "category", "Patents" %}

{% if books.size > 0 %}
  <h2>Books</h2>
  {% for post in books %}
    <div style="padding: 1rem 0; border-bottom: 2px solid #ddd;">
      {% include archive-single.html %}
    </div>
  {% endfor %}
{% endif %}

{% if software.size > 0 %}
  <h2>Software</h2>
  {% for post in software %}
    <div style="padding: 1rem 0; border-bottom: 2px solid #ddd;">
      {% include archive-single.html %}
    </div>
  {% endfor %}
{% endif %}

{% if patents.size > 0 %}
  <h2>Patents</h2>
  {% for post in patents %}
    <div style="padding: 1rem 0; border-bottom: 2px solid #ddd;">
      {% include archive-single.html %}
    </div>
  {% endfor %}
{% endif %}