---
layout: archive
title: "Books, Software & Patents"
permalink: /software/
author_profile: true
---

{% include base_path %}

{% assign books = site.portfolio | where: "category", "Books" %}
{% assign software = site.portfolio | where: "category", "Software" %}
{% assign patents = site.portfolio | where: "category", "Patents" %}

{% if books.size > 0 %}
  <h4>Books</h4>
  {% for post in books %}
    <div style="padding: 1rem 0; border-bottom: 2px solid #ddd;">
      {% include archive-single.html %}
    </div>
  {% endfor %}
{% endif %}

{% if software.size > 0 %}
  <h4>Software</h4>
  {% for post in software %}
    <div style="padding: 1rem 0; border-bottom: 2px solid #ddd;">
      {% include archive-single.html %}
    </div>
  {% endfor %}
{% endif %}

{% if patents.size > 0 %}
  <h4>Patents</h4>
  {% for post in patents %}
    <div style="padding: 1rem 0; border-bottom: 2px solid #ddd;">
      {% include archive-single.html %}
    </div>
  {% endfor %}
{% endif %}