---
layout: archive
title: "Mis cursos en Udemy"
permalink: /udemy/
author_profile: true
---

{% assign categorias = site.talks | group_by: "category" %}

{% assign orden_categorias = "Inteligencia Artificial con Python:,Inteligencia Artificial con R:,Otros cursos de formación avanzada:" | split: "," %}

{% for orden in orden_categorias %}
  {% for categoria in categorias %}
    {% if categoria.name == orden %}
      <h4 style="font-size: 2rem; margin-top: 1.5rem; margin-bottom: 0.5rem; font-weight: bold;">{{ categoria.name }}</h4>  
      <div class="course-grid" style="padding-left: 1rem;">  
        {% for post in categoria.items %}
          <div style="margin-left: 1rem; padding: 0.3rem 0; border-bottom: 1px solid #ccc; display: flex; align-items: center; gap: 0.5rem;">
            
            <!-- Imagen identificativa del curso alineada a la izquierda -->
            <img src="{{ post.image }}" alt="{{ post.title }}" style="width: 120px; height: auto; margin-right: 0.5rem; border-radius: 5px;">
            
            <!-- Información del curso con tamaño reducido -->
            <div style="flex: 1; font-size: 0.9rem; line-height: 1.2;">
              {% include archive-single-talk.html %}
            </div>
          
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}