---
layout: archive
title: "Mis cursos en Udemy"
permalink: /udemy/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

<p><img src="https://img-c.udemycdn.com/redactor/raw/article_lecture/2021-10-19_13-23-54-7a7a948cae85eca3ebd77ea5e95f25e1.png"><br></p>

{% assign categorias = site.talks | group_by: "category" %}

{% assign orden_categorias = "Inteligencia Artificial con Python:,Inteligencia Artificial con el lenguaje de programación R:,Otros cursos de formación avanzada:" | split: "," %}

{% for orden in orden_categorias %}
  {% for categoria in categorias %}
    {% if categoria.name == orden %}
      <h1 style="font-size: 2.5rem; margin-top: 3rem; font-weight: bold;">{{ categoria.name }}</h1>  
      <div class="course-grid" style="padding-left: 2rem;">  <!-- Sangría para todos los cursos de la categoría -->
        {% for post in categoria.items %}
          <div style="margin-left: 2rem; padding: 1rem 0; border-bottom: 2px solid #ddd; display: flex; align-items: center;">
            
            <!-- Imagen identificativa del curso alineada a la izquierda -->
            <img src="{{ post.image }}" alt="{{ post.title }}" style="width: 200px; height: auto; margin-right: 1rem; border-radius: 5px;">
            
            <!-- Información del curso -->
            <div style="flex: 1;">
              {% include archive-single-talk.html %}
            </div>
          
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}