---
layout: default
author_profile: false
---

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <h1 class="page__title">{{ page.title }}</h1>

    {% if page.description %}
      <p class="page__lead">{{ page.description }}</p>
    {% endif %}

    {% include base_path %}

    {% if page.posts %}
      <section aria-label="Listado de entradas archivadas">
        {% for post in page.posts %}
          {% include archive-single.html %}
        {% endfor %}
      </section>
    {% else %}
      <p>No hay publicaciones asociadas.</p>
    {% endif %}
  </div>
</div>